<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); -%>
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/signup" method="post">
      <% if (errors.length > 0) { %>
        <ul>
          <% for (let i in errors) { %>
            <li><%= errors[i] %></li>
          <% } %>
        </ul>
      <% } %>
      <div>
        <label>Username:</label>
        <input type="text" name="username" value="<%= body.username %>" required />
      </div>
      <div>
        <label>Password:</label>
        <input type="password" name="password1" value="<%= body.password1 %>" required />
      </div>
      <div>
        <label>Password (Confirm):</label>
        <input type="password" name="password2" value="<%= body.password2 %>" required />
      </div>
      <div>
        <input type="submit" value="Sign up" />
      </div>
    </form>
  </body>
</html>
