<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); -%>
  </head>
  <body>
    <%- include('../partials/header'); -%>
    <main class="ui container">
      <form class="ui form" action="/signin" method="post">
        <h2 class="ui dividing header"><%= title %></h2>
        <% if (errors.length > 0) { %>
          <div class="ui visible error message">
            <div class="header">
              <i class="warning circle icon"></i>
              Error
            </div>
            <ul class="list">
              <% for (let i in errors) { %>
                <li><%= errors[i] %></li>
              <% } %>
            </ul>
          </div>
        <% } %>
        <div class="field">
          <label>Username</label>
          <input type="text" name="username" value="<%= body.username %>" required />
        </div>
        <div class="field">
          <label>Password</label>
          <input type="password" name="password" value="<%= body.password %>" required />
        </div>
        <button class="ui primary button" type="submit">Sign in</button>
      </form>
    </main>
  </body>
</html>
